body {
    display: flex;
    background: chartreuse;
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: coral;
    padding: 15px;
    border-radius: 15px;
    max-width: 400px;
    margin: 10px;
}
  
.searchbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    margin: 0.5em;
    border-radius: 20px;
    height: 2em;
}

button:hover {
    background: blueviolet;
    cursor: pointer;
}

.searchbar {
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 20px;
    font-size: 115%;
}

.display-card {
    background-color: fuchsia;
    padding: 15px;
    border-radius: 15px;
    width: 600px;
    margin: 10px;
}

.description {
    text-transform: capitalize;
}

  